<settings>
  <category label="Add List">
    <setting id="new_url_source" type="text" label="Add URL : " default=""/>
    <setting type="sep" />
    <setting type="action" label="Add Source" option="close" action="RunPlugin(plugin://plugin.video.cloister/?mode=7)" />
    <setting type="sep" />
  </category>
</settings>
